//$background: #0d253a;
$color_font: white;
$color_font_hover: lightgrey;

$background: #14171A;
$mainColor1: #0d3247;
$mainColor2: #026AA6;
$mainColor3: #0A2636;
$mainColor4: #182329;
$mainColor5: #322A26;


:root{
    --svg_bckg: #0d3247;
    --svg_main: #026AA6;
    --steam-online: #2cbed6;
    --steam-ingame: #90ba3c;
    --vip-color: #cc9900;
}


@mixin flash(){
    background: $mainColor4;
    box-shadow: 0 0 10px black;
}

@font-face {
    font-family: 'Counter-Strike-Regular';
    src:url('fonts/Counter-Strike-Regular.ttf.woff') format('woff'),
        url('fonts/Counter-Strike-Regular.ttf.svg#Counter-Strike-Regular') format('svg'),
        url('fonts/Counter-Strike-Regular.ttf.eot'),
        url('fonts/Counter-Strike-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/nhl-wild');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

html, body{
    background: $background !important;
    color: $color_font !important;
    font-family: 'Average Sans', sans-serif;
}

body{
    animation: fadeIn .5s ease-in-out forwards;
}

.status-ingame{
    color: var(--steam-ingame);
}

.status-online{
    color: var(--steam-online);
}

.status-offline{
    color: lightgrey;
}

.vip-color{
    color: var(--vip-color);
}

a.vip-color:hover{
    color: var(--vip-color);
    text-decoration: underline;
}


.flash_message{
    width: 300px;
    height: auto;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    text-align: center;
    background: #171717;
    
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

    &.success{
        border-left: 3px solid #00ff63;
        background: #14261b;
    }

    &.flash_error{
        border-left: 3px solid red;
        background: #240101;
    }
}


  
article:not(.halfpage) section{
transition: .7s ease-in-out;
animation: fadeInFromBottom .7s ease-in-out forwards;
}

article.halfpage{
transition: .7s ease-in-out;
animation: fadeInFromLeft .7s ease-in-out forwards !important;
}

aside{
transition: .7s ease-in-out;
animation: fadeInFromRight .7s ease-in-out forwards !important;
}

table{
    border-radius: 10px;
    border: 0px;

    .avatar{
        border-radius: 100%;
    }

    thead tr{
        background: #404040 !important;
        position: relative;
        
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background: linear-gradient(240deg, #0d3247, #026AA6);
            -webkit-box-shadow: 0 0 40px #182329;
            box-shadow: 0 0 40px #182329;
        }
    }

    tbody tr{
        background: $mainColor4 !important;
        border-right: 0px;

        td.lastcomment{
            a{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            a.main{
                display: inline-block;
            }
        }
    }
}

.btn-discord{
   background: #5865F2 !important;
   color: white;

	&:hover{
		background: #404EED !important;
	}

}

main{
    min-height: 500px;
    margin: 30px 0 70px;
}

.red{
    color: red;
}

.bold{
    font-weight: bold;
}

.blue{
    color: $mainColor2;
}

.darkblue{
    color: $mainColor3;
}

.darkgray{
    color: #404040;
}

.bold{
    font-weight: bold;
}

.ct{
    color: #5487b9;
}

.t{
    color: #f4c84f;
}

.justify-d-start-m-center{
    justify-content: flex-start !important;
}

header{
    background: $mainColor1;
    width: 1100px;
    margin: auto;
    position: relative;
    z-index: 100;
    height: 90px;

    .container{
        margin-top: 10px;
        padding: 0 10px !important;
    }

    .dropdown-item.active, .dropdown-item:active{
        background: $mainColor3;
        color: $color_font;
    }

    .login{
        display:flex;
        justify-content: flex-end;
        z-index: 100;
        position: relative;

        .avatar{
            border-radius: 100%;
            width: 30px;
            margin-right: 10px;
        }
    }

    &::before{
        content: '';
        width: 110px;
        height: 110px;
        background: $mainColor1;
        position: absolute;
        left: -35px;
        top: -40px;
        transform: rotate(60deg);
    }

    &::after{
        content: '';
        width: 110px;
        height: 110px;
        background: $mainColor1;
        position: absolute;
        right: -35px;
        top: -40px;
        transform: rotate(-60deg);
    }

}

#Slider{
    margin-top: -90px;
    height: 500px;
    position: relative;
    &:after{
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        content: '';
        bottom: 0;
        background: linear-gradient(rgba(255,255,255,0) 60%, $background);
    }

    .carousel-item::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width:100%;
        height: 100%;
        background: radial-gradient(rgba(255,255,255,0), black);
    }

    .container{
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        z-index: 1;

        .carousel-caption{
            position: relative;
            margin-top: 170px;
            width: 50%;
            left: 5%;
    
            h1{
                font-family: 'NHL Wild';
                font-size: 90px;
                margin-bottom: -10px;
            }
    
            h3{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
            }
        }
    }

    
}

footer{
    background: $mainColor1;
    width:100%;
    padding: 30px 10px 10px;
    color: $color_font;

    .row{
        div{
            p{
                font-size: 13px;
            }
            .social-icon{
                path{
                    fill: white;
                    opacity: 60%;
                    transition: .3s ease-in-out;
                }
            }
            .social-icon:hover{
                path{
                    opacity: 100%;
                }
            }
        }
    }

    ul li{
        float:left;
        width: 50%;

        a{
            color: $color_font;
            font-size: 12px;
        }

        a:hover{
            color: $color_font_hover;
            text-decoration: none;
        }
    }

    .row div h2{
        font-family: 'Bebas Neue';
        font-size: 18px;
    }
}

.boxes{
    justify-content: space-around;
    margin: 30px 0px;

    a:hover{
        text-decoration: none;
    }

    div.box{
        height: 250px;
        width: 250px;
        background: $mainColor1;
        text-align: center;
        font-family: 'Bebas Neue';
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0px 0px 5px rgba(13, 50, 71,.9);

        h1{
            padding: 0 15px;
            max-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            z-index: 5;
        }

        h2{
            font-size: 25px;
            position: relative;
            z-index: 5;
        }

        h3, p{
            font-weight: 0;
            font-size: 18px;
            position: relative;
            z-index: 5;
        }

        &:hover::after{
            opacity: 1;
        }

        &:hover .avatar::after, &:hover .icon::after{
            opacity: 1;
            width:230px;
            height: 230px;
            left: -65px;
        }

        &:hover .icon::after{
            top: -25px;
        }

        &:hover .avatar::after{
            top: -5px;
        }

        .avatar::after, .icon::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            opacity: 0;
            transition: .3s ease-in-out;
            border: 1.5px solid rgba(255, 255, 255, .3);
        }

        &::after{
            content: '';
            display:block;
            position: absolute;
            z-index: 3;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: $mainColor4;
            opacity: 0;
            transition: .5s ease-in-out;
        }

        .avatar{
            width: 100px;
            height: 100px;
            margin: 15px auto 10px;
            position: relative;
            z-index: 5;

            img{
                border-radius: 100%;
                position: relative;
                z-index: 5;
                width:100%;
                height: 100%;
            }
        }

        .icon{
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: 35px 0 15px;
            z-index:5;

            .icon--players, .icon--steam{
                width: 80px;
                path{
                    fill: $mainColor2;
                }
            }

            .icon--discord, .icon--freevip{
                width: 100px;
                path{
                    fill: #b9bbc9;
                }
            }

            .icon--freevip{
                width: 80px;
            }
        }

        /*&:nth-child(1) .icon--color, &:nth-child(4) .icon--color{
            border: 7px solid $mainColor2;
            box-shadow: 0 0 40px rgba(103, 125, 183, .8);
        }

        &:nth-child(2) .icon--color, &:nth-child(3) .icon--color{
            border: 7px solid $mainColor3;
            box-shadow: 0 0 40px rgba(156, 163, 219, .8);
        }*/
    }
}

.flash_message{
    width: 300px;
    height: auto;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right:10px;
    text-align: center;
    @include flash();
}

.odkazy, aside{
    display:inline-block;
    width:29%;

    h3{
        width:100%;
        padding: 5px 10px;
        text-align: center;
        font-family: 'Bebas Neue';
        position: relative;
        background: #404040;
        border-radius: 10px;
        overflow:hidden;
    }

    h3::after{
        content: '';
        position: absolute;
        bottom: 0;
        left:0;
        height: 3px;
        width: 100%;
        background: linear-gradient(240deg, $mainColor2, $mainColor1);
        box-shadow: 0 0 40px $mainColor4;
    }
    
    table{
        max-width: 100%;
        word-break: break-word;
    }
}

.latest-news{
    position: relative;
    width: 70%;
    height: auto;
    overflow:hidden;
    float:left;

    &__button{
        width: 30%;
        margin-left:10px;
    }

    &__post{
        float:left;

        &:nth-child(1){
            width: 65%;
            max-height:500px;

            h1{
                font-size: 20px;
            }

            img{
                height: 280px;
                width: 100%;
                object-fit: cover;
                max-height: 100% !important;
            }
        }

        width: 30%;
        margin: 10px 0px 12px 10px;
        background: $mainColor4;
        color: $color_font;

        a{
            &:hover{
                text-decoration: none;
            }
        }

        h1{
            font-size: 15px;
            margin-top: 10px;
            padding: 0 10px;
        }

        p{
            color: $color_font;
            font-size: 13px;
            padding: 0 10px;
        }
        
        img{
            width: 100%;
            height: auto;
            max-height: 70px;
            object-fit:cover;
        }
    }
}

.halfpage{
    width: 70%;
    float:left;
}

aside{
    float:left;
    width: 30%;
    padding-top: 30px;
}

section.content{
    width: 100%;
}

section.post{
    img{
        max-width: 100%;
        height: auto;
    }
}

section.chat, section.top-stats, div.modal-width{
    width: 100%;
    overflow: auto;
}

.container.aside-content{
    .halfpage{
        a {
            color: $color_font_hover;
        }

        .forum-title{
            font-size: 20px;
            margin: 15px 0 0;

            &::before{
                text-transform: uppercase;
                font-size:15px;
                margin-right: 5px;
            }

            &.unlocked::before{
                content: 'Otevřeno';
                color: green;
            }

            &.locked::before{
                content: 'Uzavřeno';
                color: red;
            }
        }

    }

    table{
        td{
            word-break: break-word;
        }
        td.lastcomment{
            display:flex;
            align-items: center;
        
            img{
                width: 45px;
                border-radius: 100%;
                margin-right: 5px;
            }
        }
    }

    .post{
        background: $mainColor4;
        border-radius: 10px;
        margin-top: 30px;
        position: relative;

        &__author{
            border-top: 3px solid var(--post-color);
            position:relative;

            .avatar{
                position: absolute;
                top: -22.5px;
                left: 30px;
                border: 2px solid var(--post-color);
                border-radius: 100%;
                width: 45px;
            }

            a.dropdown-toggle{
                position: absolute;
                z-index: 1;
                top: -15px;
                left: 80px;
                background: var(--post-color);
                border-radius: 10px;
                font-size: 15px;
                padding: 5px 10px;
                color: $color_font;

                &:hover{
                    color: $color_font_hover;
                    text-decoration: none;
                }
            }
            
            .dropdown-menu{
                padding: 10px;
                font-size: 12px;

                ul{
                   padding: 0;
                   margin:0;

                   li{
                       list-style-type: none;
                   }
                }
            }
        }

        &__content{
            font-size: 15px;
            padding: 5px 10px;
            position:relative;
            word-break: break-word;

            img{
                max-width: 100%;
            }

            .admin{
                display:flex;
                position: absolute;
                right: 30px;
                top: 30px;

                a, button{
                    margin: 0 5px;
                    background: transparent;
                    border: 0;
                    color: $color_font;
                }

                a:hover, button:hover{
                    color: $color_font_hover;
                }
            }

            .reactions{
                display:flex;
                text-align: center;

                span{
                    margin: 0px 10px;

                    &.selected{
                        i{
                            opacity: 50%;
                        }

                        i.selected{
                            opacity: 100%;
                        }
                    }

                    &:hover > ul.title{
                        display:flex;
                        flex-wrap: wrap;
                    }

                    &::before{
                        content: attr(count);
                        margin-right: 3px;
                        font-size: 12px;
                        color: $color_font_hover;
                    }

                    i{
                        cursor: pointer;
                    }

                    &:nth-child(1) i, &:nth-child(2) i{
                        color: #0189ff;
                    }

                    &:nth-child(3) i{
                        color: #e7ac08;
                    }

                    &:nth-child(4) i{
                        color: #ff9999;
                    }

                    &:nth-child(5) i{
                        color: #ff5555;
                    }
                }

                ul.title{
                    position: absolute;
                    z-index: 10;
                    width: 200px;
                    height: auto;
                    background: $color_font;
                    border-radius: 12px;
                    color: $background;
                    display:none;
                    margin:0;
                    padding:5px;
                    font-size: 12px;

                    li{
                        list-style-type: none;
                        float: left;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-date{
            color: $background;
            background: $color_font_hover;
            position: absolute;
            top: -15px;
            right: 30px;
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}

.title{
    display: flex;
    align-items: center;

    &__head{
        width:50%;
        padding: 10px;
        margin-right: 10px;

        h1{
            font-family: 'Bebas Neue';
        }

        h3{
            font-size: 12px;
        }
    }

    img{
        width: 50%;
    }
}

#freevip{
    margin: 50px 0 30px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    div{
        margin-right: 30px;
    }

}

.stats-header{
    background: url('https://lexten.cz/scripts/actualmap_image.php');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 120px;

    #search{
        opacity: 70%;
        width: 250px;
        position: absolute;
        bottom: 30px;
        right: 20px;
        transition: .3s ease-in-out;

        &:focus, &:hover{
            opacity: 100%;
        }
    }

    #result{
        display: none;
        width:250px;
        min-height: 200px;
        max-height: 500px;
        overflow: auto;
        position: absolute;
        top: 170px;
        right: 20px;
        z-index: 1;
        margin: 0;
        padding: 0;
        background: $mainColor3;

        li{
            padding: 10px;
            color: lightgrey;
            transition: .3s ease-in-out;

            &:hover{
                color: white;
                background: $mainColor2;
            }
        }
    }

    .avatar{
        border-radius: 100%;
        position: relative;
        z-index: 1;
        bottom: -50px;
        left: 50px;

        img{
            border-radius: 100%;
        }

        &--offline{
            border: 2px solid #898989;
        }

        &--online{
            border: 2px solid #2cbed6;
        }

        &--ingame{
            border: 2px solid #90ba3c;
        }
    }

    h1{
        background: rgba(0, 0, 0, .5);
        width: auto;
        position: absolute;
        bottom: 30px;
        left: 220px;
        padding: 2px 10px 0px 25px;
        font-family: 'Bebas Neue';
        text-shadow: 0px 0px 5px rgba(0,0,0,.3);
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 400px;
    }
    
    .icon{
        text-shadow: 0px 0px 5px rgba(0,0,0,.3);
        position: absolute;
        transition: color .3s ease-in-out;
        color: white;
        left: 20px;

        &:hover{
            color: $mainColor2;
        }

        &--steam{
            bottom: 25px;
        }

        &--discord{
            bottom: 65px;
        }

    }

    .group{
        background: rgba(0, 0, 0, .5);
        width: auto;
        position: absolute;
        bottom: -6px;
        left: 220px;
        padding: 2px 10px 2px 25px;
    }
}

.time-modal {
    display: none; 
    position: fixed;
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
    &--content {
        background-color: $mainColor3;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
  
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            transition: .2s ease-in-out;
            &:focus, &:hover {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.stats-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    &#info{
        background:$mainColor4;
        padding: 10px;
        margin-bottom: 30px;

        ul{
            margin-bottom: 0;
        
            li{
                display:inline-block;
                min-width: 200px;
                margin:0 10px;
            }
        }
    }

    &#time{

        &::after{
            content: '';
            display:block;
            width: 100%;
            height: 5px;
            margin-top:30px;
            background: linear-gradient($mainColor2, $mainColor1);
        }

        position: relative;

        h2{
            color: $mainColor2;
        }

        h3{
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing:3px;
            color: #cecaca;
        }

        .half{
            img{
                float:left;
                height: 220px;
                margin-right: 20px;
            }

            &--right{
                img{
                    float:right;
                    margin-left:20px;
                    margin-right: 0px;
                }
            }
        }
    }

    &#stats{
        .half{
            h1{
                display:none;
            }
        }
    }

    &#web{
        
        .third{
            display:flex;
            align-items: center;
            justify-content: center;

            h2{
                color: $mainColor2;
                margin-right:15px;
                font-size: 45px;
            }

            h3{
                font-weight: normal;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }

            background: $mainColor3;
            width: 33.33%;
            padding: 20px;
        }

        .third:nth-child(odd){
            background: $mainColor4;
        }
    }

    .half{
        width:43%;
        padding: 10px;

    }

    ul{
        li{
            list-style-type: none;
            display:flex;
            align-items: center;

            img{
                margin: 10px;
            }
        }
    }

    .absolute-center{
        text-align: center;
        position: absolute;
        bottom: 0;
        width: auto;
        left: 50%;
        right: 50%;
        min-width: 200px;
        transform: translateX(-50%);
        margin-bottom: 80px;
    }
}

#pagination{
    width: 70%;
    float: right;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;

    a{
        margin: 0 2.5px;
    }
}

.error{
    background: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

.banlist{
    max-width:100%;
    overflow:auto;
    position: relative;
    margin-bottom: 20px;

    .content{
        flex-wrap: wrap;
    }
    
    .header, .content{
        min-width: 1100px;
        overflow:auto;
        display:flex;

        .center{
            justify-content: center;
        }

        .right{
            justify-content:flex-end;
        }

        a{
            color: white;
            text-decoration:none;
        }
        
        div{
            width: 220px;
            font-weight: bold;
            font-size: 12px;
            text-align:center;

            &:hover div:nth-child(1)::before{
                left: 10px;
            }

            div:nth-child(1)::before{
                content: '>';
                font-family: 'Bebas Neue', sans-serif;
                position: absolute;
                margin: auto;
                font-size: 17px;
                color: var(--primary);
                left: -10px;
                transition: .5s ease-in-out;
            }

            &.active, &.expired{
                width: 1100px;
                display:flex;
                font-family: 'Source Sans Pro', sans-serif;
                background: var(--gray-dark);
                border-radius: 10px;
                margin-top: 10px;
                padding: 15px 5px;
                position: relative;
                overflow:hidden;
                transition: all .3s ease-in-out;
                
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0px;
                    height: 100%;
                    background: rgba(255,255,255,.1);
                    transition: .5s ease-in-out;
                }

                &:hover::before{
                    width: 100% !important;
                }

                &::after{
                    position: absolute;
                    bottom: 0;
                    content: ' ';
                    left: 0;
                    height: 5px;
                    transition: .5s ease-in-out;
                }

                &.expired:hover::after{
                    background: #569e56;
                }

                &.expired::after{
                    background: #AACCAA;
                    width: 100%;
                }

                &.active:hover::after{
                    background: #ec3c3c;
                }

                &.active::after{
                    background: #ff9999;
                    width: var(--remain);
                }

            }
        }
    }
}

.chat{
    table tr{
        position: relative;
        border: 0;

        td{
            border-top: 1px solid $mainColor5;
        }

        &::before{
            content: '';
            display:block;
            width:5px;
            height: 100%;
            left: 0;
            top:0;
            position: absolute;
        }
    }

    &--dead::before{background: rgb(255, 150, 150)}
    &--all::before{background: rgb(177, 177, 177)}
    &--ct::before{background: #5487b9}
    &--t::before{background: #f4c84f;}
    &--spec::before{background: #6b6b6b;}

    &--dead td:nth-child(2){color: rgb(255, 150, 150)}
    &--all td:nth-child(2){color: rgb(177, 177, 177)}
    &--ct td:nth-child(2){color: #5487b9}
    &--t td:nth-child(2){color: #f4c84f;}
    &--spec td:nth-child(2){color: #6b6b6b;}
}


#server_status{

    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    #players{
        position: absolute;
        top: 37%;
        bottom: 0;
        right: 0 !important;
        border: 0;
        background: rgba(255,255,255,.6);
        height: 70px;
        width: 30px;
        margin: 0;
        outline: none;
        color: #171717!important;
        transition: right .5s ease-in-out;

        &.active{
            right: 40% !important;
        }
    }

    #map{
        #actualmap{
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: .5s ease-in-out;
        }
    }

    .info{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        transition: width .5s ease-in-out;
        color: #fff;
        font-size: 30px;
        font-family: 'Counter-Strike-Regular', sans-serif;
        text-shadow: 0px 0px 1px black;

        #ct_rounds, #t_rounds{
            margin: 0 5px;
        }

        .players{
            font-size: 13px;
            width: 100%;
            text-align: center;
            position: absolute;
            top: -5px;
            left: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
    }

    .menu{
        position: absolute;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100%;
        background: $mainColor3;
        transition: .5s ease-in-out;

        &.active{
            right: 0;
        }

        .join{
            width: 75%;
            height: 60px;
            float: left;
            font-size: 20px;
            border: 0;
            color: white;
            background: $mainColor2;
            margin: 3vh 0 0 5%!important;
            transition: background .5s ease-out;
            cursor: pointer;
            margin: 10px auto;
            position: relative;
            text-transform: none;
            padding: 0;
            line-height: .9;

            &:hover{
                background: $background;
            }
        }

        .copy{
            position:relative;

            button{
                width: 15%;
                height: 60px;
                float: left;
                padding: 2% 0;
                font-size: 20px;
                border: 0;
                color: #171717;
                background: #fafafa;
                cursor: pointer;
                margin: 3vh 1%;
                transition: .5s ease-in-out;

                &:hover{
                    background: $background;
                    color: white;
                }
            }

            .copied{
                display: none;
                position: absolute;
                background: #026AA6;
                color: white;
                bottom: -120px;
                right: 12px;
                padding: 5px 10px;
                font-size: 12px;
            }
        }

        .list{
            width: 90%;
            height: 170px;
            background: $mainColor1;
            margin: 0 5%;
            padding: 10px 0;
            overflow: auto;

            li{
                width: 44%;
                height: 35px;
                list-style-type: none;
                background: $mainColor4;
                float: left;
                margin: 3px 2.5%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border-radius: 8px;
                border: 1px solid $mainColor2;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                padding: 0 5px;

                .blue{
                    max-width: 90px;
                    max-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

}

.admin{
    #result{
        display: none;
        width:250px;
        min-height: 200px;
        max-height: 500px;
        overflow: auto;
        position: absolute;
        z-index: 1;
        margin: 0;
        padding: 0;
        background: $mainColor3;

        li{
            padding: 10px;
            color: lightgrey;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover{
                color: white;
                background: $mainColor2;
            }
        }
    }
}

#ads{
    div{
        display: flex;
        max-width: 50%;
        justify-content: center;

        a{
            opacity: .3;
            transition: .3s ease-in-out;
            
            &:hover{
                opacity: 1;
            }

            img{
                width: 468px;
                height: 60px;
            }
        }  
    }
}

@media only screen and (max-width: 576px){
    header{
        .container{
            margin-top: 0px;
            padding: 0;
        }

        .login{
            justify-content: center;
        }
    }

    #Slider{
        height:auto;
        
        .carousel-caption{
            h1{
                margin-bottom: -5px !important;
            }
        }
    }

    .title{
        flex-wrap: wrap;

        &__head, img{
            display: block;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 576px){
    header{
        .navbar-nav a.nav-link{
            position: relative;
            transition: .3s ease-in-out;
        }

        .navbar-nav a.nav-link:hover{
            color: white;
        }

        .navbar-nav a.nav-link:hover::before{
            width: 30px;
        }

        .navbar-nav a.nav-link::before{
            content: '';
            width: 0;
            margin-left:5%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left:0;
            right: 0;
            margin:auto;
            background: $mainColor3;
            transition: .3s ease-in-out;
        }

        .navbar-nav a.active:hover::before{
            width: 0;
        }
    }

    #Slider{
        .carousel-item img{
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }
}



@media only screen and (min-width: 768px){
    .container.aside-content{
        .halfpage{
            padding: 30px;
        }
    }

    #Slider{
        .carousel-caption{
            h1, h3{
                text-shadow: 5px 5px 30px black, 5px 5px 30px black, 5px 5px 30px black;
            }
        }
    }

    #server_status{         
        #map.small{
            #actualmap{
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    header{
        width: 100%;
        height: auto;

        &::before, &::after{
            display:none;
        }
    }

    #time{
        min-height:500px;

        button{
            width: 100% !important;
        }
        .absolute-center{
            position: relative;
            top: 0;
        }
        img{
            display: none;
        }
    }

    .banlist{
        width: 100% !important;
        overflow: hidden;

        .active, .expired{
            display: block;
            width: 100% !important;
        }

        .header{
            display: none;
        }

        .content{
            min-width: auto;
            display: block;

            &__row{
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

            div:nth-child(2), div:nth-child(3), div:nth-child(4){
                display: none;
            }
        }
    }

    .stats-header{
        .avatar{
            width: 140px;
            top: 90px;
            left: 100px;
        }

        #search{
            bottom: auto;
            top: 30px;
            width: 90%;
        }
    }

    #Slider{
        margin-top: 0px;
        .container{
            .carousel-caption{
                margin: auto;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width:70%;
                min-height: 150px;
                font-size: 4vw;

                h1{
                    font-size: 10vw;
                    text-shadow: 0px 0px 3px black;
                }

                h3{
                    font-size: 2.5vw;
                    text-shadow: 0px 0px 3px black;
                }

                .btn-primary{
                    font-size: 3vw;
                }
            }
        }
    }
}

@media only screen and (max-width:768px){
    .mt-768{
        margin-top: 1rem;
    }

    #ads{
        div{
            max-width: 100%;

            a img{
                width: 100%;
                height: auto;
            }
        }
    }


    .stats-header{
        .avatar{
            top: 90px;
            width: 130px !important;
            left: 50%;
            transform: translateX(-50%);
        }

        h1, .group{
            display: none;
        }

        #search{
            bottom: auto;
            top: 30px;
            width: 90%;
        }

        #result{
            bottom: auto;
            top: 70px;
            width: 90%;
        }
    }

    .stats-content{
        flex-direction: column;
        justify-content: center;

        .half, .third{
            width: 100% !important;
        }

        .absolute-center{
            right: 0;
            top: 130px;
            bottom: auto;
            left: auto;
            transform: translateX(0);
        }

        #stats{
            .half{
                h1{
                    display: block;
                }
            }
        }
    }

    .halfpage{
        width: 100%;
    }

    aside{
        width:100%;
        padding: 30px;
    }

    .container.aside-content{
        flex-direction: column;

        .halfpage{
            .post{
                .avatar{
                    left: 15px;
                }
                a.dropdown-toggle{
                    left: 65px;
                }
                margin-top: 50px;
                &-date{
                    top: auto;
                    bottom: -45px;
                    right: 0;
                }
            }
        }
    }

    .justify-d-start-m-center{
        justify-content: center !important;
    }

    .m-center{
        text-align: center;
        margin: auto;
    }

    .boxes{
        flex-wrap: wrap;
        justify-content: center;
        
        div{
            margin-top: 10px;
        }
    }

    .odkazy, aside{
        width:100%;
        padding: 30px;
    }

    
    .latest-news{
        width:100%;

        &__button{
            width:100%;
        }

        &__post{
            width: 100% !important;
            max-height: 100% !important;
        }
    }

    #server_status{
        #players{
            &.active{
                right: 80% !important;
            }
        }

        .menu{
            width: 80%;
            right: -80%;

            .list{
                li{
                    .blue{
                        max-width: 65px;
                    }
                }
            }
        }
    }
}