<h2>&nbsp;</h2>
<h1>Pravidla pro v&scaron;echny</h1>
<ul>
<li class="hidden">Dodržuj obecn&aacute; pravidla. Použ&iacute;vej zdrav&yacute; rozum.</li>
<li>Nepouž&iacute;vej nevhodnou přezd&iacute;vku. Drž se sv&eacute; origin&aacute;ln&iacute; přezd&iacute;vky - integrita je důležit&aacute;.</li>
<li class="hidden">Přezd&iacute;vka by neměla obsahovat jen odkazy, nebo term&iacute;ny kter&eacute; jsou spojov&aacute;ny se hrou. Pokud tv&eacute; jm&eacute;no bude obsahovat speci&aacute;ln&iacute; znaky, ostatn&iacute; hr&aacute;či nebudou vědět, jak ti poslat soukromou zpr&aacute;vu.</li>
<li class="hidden">Nevyd&aacute;vej se za ciz&iacute; hr&aacute;če a nesnaž se obch&aacute;zet ban.</li>
<li class="hidden">Nespamuj chat ani hlasovou komunikaci, nemluv když mluv&iacute; warden, neru&scaron;.</li>
<li>Čti chat! Někdy jsou tam napsan&eacute; fakt užitečn&eacute; věci.</li>
<li>Nejsi-li admin, neplň činnosti kter&eacute; patř&iacute; jim. (Např. Nekontroluj zda m&aacute; někdo mikrof&oacute;n.)</li>
<li>Vždy buď upř&iacute;mn&yacute;, nikomu nelži a nesnaž se slov&iacute;čkařit.</li>
<li>Nezneuž&iacute;vej chyby, jak na map&aacute;ch, tak v samotn&eacute;m m&oacute;du a pluginech.</li>
<li>Spr&aacute;vně rozli&scaron;uj předložky. (Např.: J&iacute;t na stěnu a j&iacute;t ke stěně je rozd&iacute;l)</li>
</ul>
<h2>Pravidla hry</h2>
<ul>
<li>Pokud jsi mrtv&yacute;, neraď - jak ve hře, tak na jin&eacute;m komunikačn&iacute;m programu. (Kodexem chov&aacute;n&iacute; je, že by vězni měli držet spolu!)</li>
<li>Každ&yacute; př&iacute;kaz mus&iacute; b&yacute;t plněn &bdquo;bez zdržov&aacute;n&iacute;&rdquo;. [hidden]T&iacute;m se rozum&iacute; nejrychlej&scaron;&iacute; cesta bez odbočov&aacute;n&iacute;.[/hidden] (Může&scaron; činit tak, aby jsi se nezranil.)</li>
<li>Zv&yacute;hodňov&aacute;n&iacute; je zak&aacute;z&aacute;no.</li>
<li>Pokud přek&aacute;žka nebo stěna umožňuje vězni ut&eacute;ct, tak se považuje za secret.</li>
<li class="hidden">Nemůže&scaron; d&aacute;vat př&iacute;kazy pokud nejsi warden, neurč&iacute;-li jinak.</li>
<li>Každ&yacute; wardenův př&iacute;kaz plat&iacute; od momentu kdy přestane mluvit, neurč&iacute;-li jinak.</li>
<li>Pokud warden využ&iacute;v&aacute; značku/&scaron;ipku k př&iacute;kazu, automaticky se k němu vztahuje nejnověj&scaron;&iacute;, neurč&iacute;-li jinak.</li>
<li>Když umře warden, jeho př&iacute;kazy plat&iacute; 20 sekund. Po zvolen&iacute; nov&eacute;ho wardena se př&iacute;kazy předchoz&iacute;ho wardena nezru&scaron;&iacute;.</li>
</ul>
<h2>Politika zab&iacute;jen&iacute;</h2>
<ul>
<li>Pokud jsi byl nepr&aacute;vem zabit dozorcem, popi&scaron; situaci do admin chatu (@ před zpr&aacute;vou) a zachovej chladnou hlavu.</li>
<li>Jako dozorce nesm&iacute;&scaron; neopr&aacute;vněně zab&iacute;jet vězně. (Freekill) Pokud vězně zabije&scaron;, mus&iacute;&scaron; se zab&iacute;t taky, někdy řečeno tak&eacute; jako d&aacute;t si slay. (Když nap&iacute;&scaron;e&scaron; př&iacute;kaz /kill, umře&scaron; automaticky na zač&aacute;tku př&iacute;&scaron;t&iacute;ho kola.) Pro adminy a moder&aacute;tory je prioritou vězně po freekillu oživit.</li>
<li>Jako dozorce, pokud jsi se zabil za to, že jsi provedl freekill, zůstaň ve hře po celou dobu kola, jinak tě ček&aacute; trest. Ud&aacute;lost nahla&scaron; do admin chatu (@ před zpr&aacute;vou).</li>
<li>Jako dozorce nesm&iacute;&scaron; zab&iacute;jet v&iacute;ce vězňů nar&aacute;z a nesm&iacute;&scaron; stř&iacute;let do skupinek vězňů. Vězně zab&iacute;jej vždy jednoho po druh&eacute;m. (Neplat&iacute; při aktivovan&eacute;m posledn&iacute;m dozorci.)</li>
<li>Jako dozorce, d&aacute;vej v&yacute;stražnou střelu vězňům, kteř&iacute; nikoho neohrožuj&iacute;. Vězně může&scaron; zab&iacute;t okamžitě, pokud kon&aacute; činnost, kter&aacute; tebe nebo ostatn&iacute; dozorce ohrožuje.</li>
<li>Mezi neohrožuj&iacute;c&iacute; činnosti vězňů např&iacute;klad patř&iacute;:
<ul>
<li class="hidden">Lehk&yacute; pohyb na m&iacute;stě, když se nem&aacute; pohybovat.</li>
<li class="hidden">Lehk&yacute; pohyb hlavou, když se m&aacute; d&iacute;vat určit&yacute;m směrem.</li>
<li>Postaven&iacute; nebo v&yacute;skok když je dan&aacute; činnost zak&aacute;z&aacute;na.</li>
</ul>
</li>
<li>Mezi ohrožuj&iacute;c&iacute; činnosti vězňů např&iacute;klad patř&iacute;:
<ul>
<li class="hidden">Nepovolen&yacute; pohyb směrem k dozorci.</li>
<li class="hidden">Nepovolen&yacute; pohyb směrem k př&iacute;stupn&eacute; &scaron;achtě/secretu, zbrojnici nebo zbrani.</li>
<li>Opakov&aacute;n&iacute; neohrožuj&iacute;c&iacute; činnosti za kterou byl varov&aacute;n.&nbsp;</li>
<li>Sk&aacute;k&aacute;n&iacute; kolem m&iacute;sta kde se m&aacute; nach&aacute;zet.</li>
<li class="hidden">Vybočov&aacute;n&iacute; z cesty.</li>
</ul>
</li>
</ul>
<h1>Pravidla pro dozorce</h1>
<ul>
<li class="hidden">Mus&iacute;&scaron; m&iacute;t mikrofon v kter&eacute;m ti je dobře rozumět, bez &scaron;umu nebo ruchu v pozad&iacute;. Pokud je tv&aacute; hlasov&aacute; aktivita nějak&yacute;m způsobem &scaron;patn&aacute;, může&scaron; b&yacute;t považov&aacute;n za hr&aacute;če bez mikrofonu.</li>
<li>Do 9:00 mus&iacute; b&yacute;t zvolen prvn&iacute; warden a otevřeny cely.</li>
<li class="hidden">Nesm&iacute;&scaron; měnit t&yacute;m k dozorcům bez &uacute;myslu nebo pokud nejsi schopn&yacute; se st&aacute;t wardenem.</li>
<li class="hidden">Ber na vědom&iacute;, že hr&aacute;či nejsou stroje a trv&aacute; jim než zareaguj&iacute;. Vězňům dej minim&aacute;ln&iacute; čas na reakci na z&aacute;kladě př&iacute;kazu, kter&yacute; m&aacute; splnit. Nov&iacute; hr&aacute;či (&lt;4 nahran&eacute; hodiny) maj&iacute; žlut&yacute; model.</li>
<li>Nepřibližuj se k vězňům a nestůj na okraj&iacute;ch atrakc&iacute; (ploty, z&aacute;bradl&iacute;, vyv&yacute;&scaron;en&eacute; stěny). [hidden](Provokace)[/hidden]&nbsp;</li>
<li>Nehraj atrakce určen&eacute; jen pro vězně. (Vyj&iacute;mkou je, když se v atrakci nach&aacute;z&iacute; vězeň, kter&eacute;ho je potřeba zab&iacute;t.)</li>
<li>Nesm&iacute;&scaron; kempovat &scaron;achtu/secret, vstup do &scaron;achty/secretu nebo zbrojnici. (Ček&aacute;n&iacute; u m&iacute;sta nebo sledov&aacute;n&iacute; m&iacute;sta po del&scaron;&iacute; dobu.)</li>
<li>Do &scaron;achty, secretu nebo zbrojnice může&scaron; vej&iacute;t pouze, pokud uvnitř vid&iacute;&scaron; vězně, nebo ho vid&iacute;&scaron; dovnitř vstupovat, př&iacute;padně je na živu jeden nerebeluj&iacute;c&iacute; vězeň.</li>
<li class="hidden">Nesm&iacute;&scaron; d&aacute;t zbraň s n&aacute;bojemi vězni. (Gunplant)</li>
<li>Pokud je vězeň označen červeně, vždy ho mus&iacute;&scaron; zab&iacute;t. (Neplat&iacute; pouze pokud je to souč&aacute;st atrakce nebo je dostupn&eacute; PP.)</li>
<li>Mus&iacute;&scaron; b&yacute;t ve stejn&eacute; oblasti jako warden nebo m&iacute;t na oč&iacute;ch vět&scaron;inu vězňů, pokud nem&aacute;&scaron; povoleno hledat rebely (huntit).</li>
<li>Pokud vid&iacute;&scaron; rebeluj&iacute;c&iacute;ho vězně, může&scaron; j&iacute;t za n&iacute;m dokud z něj neztrat&iacute;&scaron; zrak, potom potřebuje&scaron; povolen&iacute; hledat rebely.</li>
<li>Pokud je naživu posledn&iacute; nerebeluj&iacute;c&iacute; vězneň, v&scaron;ichni dozorci maj&iacute; povoleno hledat rebely.</li>
<li>Nesm&iacute;&scaron; otevř&iacute;t cely bez povolen&iacute; wardena.</li>
<li>Odstraňov&aacute;n&iacute; předmětů z v&yacute;choz&iacute; pozice, kter&eacute; jsou položen&eacute; na mapě nen&iacute; dovoleno. [/hidden](Např.: Zbraň v &scaron;achtě)[hidden]</li>
</ul>
<h2>Posledn&iacute; dozorce</h2>
<ul>
<li>Posledn&iacute; dozorce je dozorce, kter&yacute; tohle pravidlo může aktivovat v př&iacute;padě, že je kr&aacute;tce s&aacute;m naživu a žije proti němu velk&yacute; počet vězňů.</li>
<li>Mus&iacute;&scaron; zab&iacute;t naprosto v&scaron;echny vězně, kteř&iacute; nejsou v uzavřen&eacute;m prostoru.</li>
<li>Před zabit&iacute;m vězně mus&iacute;&scaron; vězně osvobodit nebo propustit z uzavřen&eacute;ho prostoru (Např&iacute;klad z cely nebo klece). Po takov&eacute;m "osvobozen&iacute;" nemus&iacute;&scaron; d&aacute;vat vězni jakoukoliv &scaron;anci na &uacute;těk.</li>
<li>Může&scaron; kdykoliv vstupovat do &scaron;achty/secretu a zbrojnice.</li>
</ul>
<h2>Pravidla pro wardeny</h2>
<ul>
<li class="hidden">Snaž se hr&aacute;če zabavit, ne vyvraždit - buď kreativn&iacute;!</li>
<li>Každ&yacute; tvůj př&iacute;kaz [hidden]mus&iacute; b&yacute;t &uacute;pln&yacute; nebo[/hidden] mus&iacute; obsahovat sloveso. Př&iacute;kazy hr&aacute;čům nepi&scaron; do chatu.</li>
<li>Na jedn&eacute; atrakci může&scaron; společně s ostatn&iacute;mi dozorci zab&iacute;t maxim&aacute;lně 6 vězňů. (Nepoč&iacute;taj&iacute; se, pokud vězni um&iacute;raj&iacute; vlastn&iacute; vinou.)</li>
<li>Ostatn&iacute; dozorci jsou tv&aacute; zodpovědnost, může&scaron; jim rozkazovat. Pokud dozorcům přik&aacute;že&scaron; ať neopr&aacute;vněně zab&iacute;jej&iacute;, takov&eacute; freekilly padaj&iacute; na tvou hlavu.</li>
<li>Nesm&iacute;&scaron; zak&aacute;zat ot&aacute;čen&iacute;. (kamerou/pohledem) Může&scaron; určit směr pohledu na nepohybuj&iacute;c&iacute; se objekt nebo na světovou stranu (viz. kompas na radaru).&nbsp;</li>
<li>Nesm&iacute;&scaron; zak&aacute;zat mluven&iacute; / psan&iacute;. Může&scaron; kdykoliv zapnout prioritn&iacute; mikrofon.</li>
<li>Nesm&iacute;&scaron; zak&aacute;zat kuch&aacute;n&iacute; ani boxov&aacute;n&iacute;.</li>
<li class="hidden">Nesm&iacute;&scaron; zak&aacute;zat předměty a dovednosti z obchodu.</li>
<li class="hidden">Nesm&iacute;&scaron; přik&aacute;zat dozorcům cokoliv, co je proti pravidlům.</li>
<li class="hidden">Nesm&iacute;&scaron; přik&aacute;zat vězňům, aby se zabili.</li>
<li>Nesm&iacute;&scaron; př&iacute;k&aacute;zat vězňům činnost, kter&aacute; je děl&aacute; rebelem pokud to nen&iacute; souč&aacute;st&iacute; hry nebo atrakce.</li>
<li>Nesm&iacute;&scaron; př&iacute;kazat vězňům, aby psali př&iacute;kazy.&nbsp;</li>
<li>Nesm&iacute;&scaron; přik&aacute;zat vězňům, aby zne&scaron;kodnili odji&scaron;těnou bombu.&nbsp;</li>
<li>Nesm&iacute;&scaron; přik&aacute;zat vězňům, aby hledali rebeluj&iacute;c&iacute;.</li>
<li>Nesm&iacute;&scaron; d&aacute;t voln&yacute; den ani posledn&iacute; př&aacute;n&iacute; vězni, kter&yacute; nedokončil ž&aacute;dnou hru nebo atrakci.&nbsp;</li>
<li class="hidden">Nesm&iacute;&scaron; nachyt&aacute;vat na slova se stejnou v&yacute;slovnost&iacute;.</li>
<li>Nesm&iacute;&scaron; nachyt&aacute;vat hr&aacute;če s koncem a zač&aacute;tkem hry Sajmon ř&iacute;k&aacute;.</li>
<li class="hidden">Nesm&iacute;&scaron; &uacute;myslně přeru&scaron;ovat mluven&iacute; s c&iacute;lem vytvořit ne&uacute;pln&yacute; př&iacute;kaz.</li>
<li class="hidden">Mus&iacute;&scaron; oslovovat vězně pouze jejich přezd&iacute;vkou nebo n&aacute;zvem p&iacute;sma v jejich přezd&iacute;vce. Lze hr&aacute;če oslovit i na z&aacute;kladě m&iacute;sta, kde se nach&aacute;zej&iacute;.</li>
<li class="hidden">Ar&eacute;na se nesm&iacute; použ&iacute;vat na &uacute;mysln&eacute; držen&iacute; vězňů.&nbsp;</li>
<li>Pokud je vězeň označen červeně, nesm&iacute;&scaron; mu prominout rebelov&aacute;n&iacute;. (Neplat&iacute; pokud je to souč&aacute;st&iacute; atrakce nebo m&aacute; vězeň již dostupn&eacute; PP.)&nbsp;</li>
<li class="hidden">Pokud zru&scaron;&iacute;&scaron; někomu voln&yacute; den, neplat&iacute; pro něj ž&aacute;dn&eacute; př&iacute;kazy řečen&eacute; před zru&scaron;en&iacute;m.</li>
<li>Pokud si živ&yacute; hr&aacute;č ž&aacute;d&aacute; o zopakov&aacute;n&iacute; př&iacute;kazu nebo z&aacute;kazu, jsi povinen minim&aacute;lně jednou posledn&iacute; př&iacute;kaz nebo z&aacute;kaz zopakovat. (Když si ž&aacute;d&aacute; v&iacute;ce lid&iacute;, stač&iacute; zopakovat jednou.)</li>
</ul>
<h1>Pravidla pro voln&eacute; dny</h1>
<ul>
<li class="hidden">Ve&scaron;ker&eacute; př&iacute;kazy mohou b&yacute;t ignorov&aacute;ny.</li>
<li>V bl&iacute;zkosti dozorců se pohybuje&scaron; na vlastn&iacute; nebezpeč&iacute;, když tě zabij&iacute; omylem nebo jim vleze&scaron; do r&aacute;ny, nen&iacute; to freekill.</li>
<li>Nesm&iacute;&scaron; manipulovat s ovl&aacute;dac&iacute;mi prvky atrakc&iacute;, pokud se v atrakci nach&aacute;z&iacute; dozorci nebo vězni bez voln&eacute;ho dne.</li>
<li>Tvůj voln&yacute; den je zru&scaron;en, pokud jsi označen jako rebel.</li>
<li>Za jakoukoliv činnost, kter&aacute; tě děl&aacute; rebelem mohou dozorci zab&iacute;jet při činu.</li>
<li>Za jak&eacute;koliv poru&scaron;en&iacute; pravidel pro voln&eacute; dny, tvůj voln&yacute; den může b&yacute;t zru&scaron;en.</li>
</ul>
<h1>Pravidla pro vězně&nbsp;</h1>
<ul>
<li>Jsi považov&aacute;n za rebela pokud:<br />
<ul>
<li>Mluv&iacute;&scaron; v prvn&iacute; minutě kola. (pozn.: M&iacute;sto umlčen&iacute; vězňů d&aacute;v&aacute;me možnost promluvit za cenu rebelov&aacute;n&iacute;.)&nbsp;</li>
<li>Jsi mimo celu před otevřen&iacute;m. (Neplat&iacute; pro hr&aacute;če s voln&yacute;m dnem.)&nbsp;</li>
<li>Otevře&scaron; cely.</li>
<li>Vystřel&iacute;&scaron; ze zbraně.&nbsp;</li>
<li>Drž&iacute;&scaron; zbraň d&eacute;le jak 5 vteřin.&nbsp;</li>
<li>Vytahuje&scaron; nebo drž&iacute;&scaron; zbraň v ruce během pohledu na dozorce.&nbsp;</li>
<li>Otev&iacute;r&aacute;&scaron; &scaron;achtu nebo secret.</li>
<li>Vstupuje&scaron; do &scaron;achty, secretu nebo zbrojnice.</li>
<li>Zran&iacute;&scaron; dozorce jinak než nožem nebo pěst&iacute;.</li>
<li>Pokud zran&iacute;&scaron; dozorce nožem nebo pěst&iacute;, jsi považov&aacute;n za rebela pouze pokud dozorce neprovokuje.</li>
</ul>
</li>
<li>V&scaron;echny př&iacute;kazy mus&iacute;&scaron; plnit tak, aby jsi neporu&scaron;il jak&yacute;koliv z&aacute;kaz. (Z&aacute;kaz m&aacute; přednost před př&iacute;kazem.)&nbsp;</li>
<li>Pokud nejsi schopen splnit př&iacute;kaz cel&yacute; nebo jen č&aacute;stečně, neh&yacute;bej se.</li>
<li>Pokud ti nebyl řečen př&iacute;kaz k zastaven&iacute; ani nen&iacute; m&iacute;sto kde se mus&iacute;&scaron; nach&aacute;zet, může&scaron; j&iacute;t kam chce&scaron;.&nbsp;</li>
<li>Pokud jsi odstrčen (např&iacute;klad exploz&iacute;), nemus&iacute;&scaron; dělat nic.&nbsp;</li>
<li>Nesm&iacute;&scaron; zranit ostatn&iacute; vězně jak&yacute;mkoliv způsobem, pokud to nen&iacute; souč&aacute;st&iacute; hry nebo atrakce dan&eacute; wardenem.&nbsp;</li>
<li>Mus&iacute;&scaron; se aktivně &uacute;častnit ve hře nebo atrakci kterou m&aacute;&scaron; hr&aacute;t.&nbsp;</li>
<li>Jako pohyb se ti vždy poč&iacute;t&aacute; jen a pouze přesun (z m&iacute;sta na jin&eacute; m&iacute;sto). Pokud se nem&aacute;&scaron; h&yacute;bat, stůj na m&iacute;stě (může&scaron; st&aacute;le sk&aacute;kat nebo čupět pokud to warden nezak&aacute;zal).</li>
</ul>
<h2>Posledn&iacute; př&aacute;n&iacute; (LR/PP)</h2>
<ul>
<li>Dozorci vězně mohou zab&iacute;t pokud m&aacute; dostupn&eacute; nebo vybran&eacute; posledn&iacute; př&aacute;n&iacute; a zdržuje d&eacute;le jak minutu.</li>
<li>Pokud si vězeň nevybere hru proti dozorcům, může b&yacute;t zabit.&nbsp;</li>
<li>Vězeň může určit sv&aacute; pravidla při hře proti dozorcům. Nezapomeň, že st&aacute;le plat&iacute; ostatn&iacute; pravidla.</li>
</ul>